<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.shop.admin.mapper.attr.IAttrMapper">

    <select id="selectAttrById" parameterType="long" resultType="com.fh.shop.admin.po.attr.Attr">
        select id,attrName from t_attr where typeId = #{v}
    </select>
</mapper>